html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Prompt', sans-serif;
}

header {
    display: flex;
    height: 80vh;
    background: url('images/wallpaperSW1.jpg') no-repeat;
    filter: opacity(0.9);
    color: aliceblue;
    justify-content: flex-start;
    align-items: center;
}


header .title{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 10rem;
    word-spacing: 3px;
    letter-spacing: 2px;
    text-shadow: #17263A 1px 1px, #17263A -1px 1px, #17263A -1px -1px, #17263A 1px -1px;
    width: 30vw;
}

header .button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}


header .title h1 {
    font-size: 70px;
    margin-bottom: 0;
}

header .title p {
    font-size: 30px;
}

header .title button {
    height: 5vh;
    width: 60%;
    background: #17263A;
    border: none;
    border-radius: 25px;
    color: aliceblue;
    font-size: 25px;
    transition: background-color 0.5s, color 0.5s ease-in-out;
}

header button:hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: aliceblue;
    color: #17263A;
}

main {
    height: 60vh;
    background-color: #17263A;
    filter: opacity(0.9);
    color: aliceblue;
}

nav {
    height: 7vh;
}

.upperHeigth {
    transform: translateY(-250%);
    transition: all 1s;
}

main nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    font-size: 24px;
    height: 100%;
}

main nav ul li:after {
    display:block;
    content: '';
    border-bottom: solid 3px aliceblue;  
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
}

main nav ul li:hover:after { 
    transform: scaleX(1);
    transform-origin: 0% 50%;
    cursor: pointer;
}

main nav ul li:hover {
    cursor: pointer;
}

footer {
    height: 80vh;
    background: url('images/wallpaperSW2.jpg') no-repeat;
    filter: opacity(0.8);
}

main .image-card {
    height: 30vh;
    width: auto;
    margin: 5rem;
}

.second {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    transform: translateX(-100%);
    transition: transform 0.6s ease-in-out;
}

.active {
    transform: translateX(0%);
}

.inactive {
    transform: translateX(-100%);
}

.list-over {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 5px;
    transition: transform 1s;
    width: 25vh;
    font-size: medium;
}

.loading-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    visibility: hidden;
}

.loading-card p {
    font-size: 11px;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50.5vw;
    top: 13.5vh;
}

.loading-charge {
    border: 8px solid rgb(128, 128, 128);
    border-bottom: 8px solid aliceblue;
    border-radius: 100%;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50vw;
    top: 10vh;
    animation: infinite loading 4s ease-in;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}